<%- include('header',{ title: 'Xác thực tài khoản'}); -%>
    <div class="row" id="row_input">
       
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">

            <div class="card" id="card_login">
                <div class="card-body">
                    <center>
                        <h2 style="color:#72B441">Vui lòng nhập code của bạn</h2>
                    </center>
                    <hr />
                    <div class="d-flex flex-column text-center">
                        <form method="POST" action="/activate">
                            <div class="form-group">
                                <input type="text" class="form-control" id="codetoken" name="codetoken" placeholder="Code token...">
                            </div>
                            <!-- <div class="form-group">
                                <label for="avatar">Upload file anh cmnd</label>
                                <input type="file" class="form-control-file" id="avatarcmnd" name="avatar">
                            </div> -->
                            <input type="submit" class="btn btn-block btn-round" style="background-color: #72B441;color:white" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    </div>

    <%- include('footer'); -%>