<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</div>
<div class="footer">
    <div class="container">
        <div class="col">
            <h1>Khách hàng cá nhân</h1>
            <ul>
                <li>Vay vốn Horsebank</li>
                <li>Thẻ Horsebank</li>
                <li>Thanh toán & Chuyển tiền</li>
                <li>Bảo hiểm</li>               
            </ul>
        </div>
        <!-- <div class="col">
            <h1>Khách hàng doanh nghiệp</h1>
            <ul>
                <li>Tài khoản & Tiền gửi</li>   
                <li>Thẻ Horsebank</li>
                <li>Thanh toán trong nước</li>
                <li>Thanh toán quốc tế</li>
            </ul>
        </div> -->
        <div class="col">
            <h1>Định chế tài chính</h1>
            <ul>
                <li>Ngân hàng đại lý</li>
                <!-- <li>Cash management and payment</li> -->
                <li>Thị trường tiền tệ và thị trường vốn</li>
                <li>Kinh doanh ngoại tệ</li>
            </ul>
        </div>
        <div class="col">
            <h1>Về Horsebank</h1>
            <ul>
                <li>Về chúng tôi</li>
                <li>Công bố thông tin</li>
                <li>Thư viện Horsebank</li>
                <li>Tin tức</li>
                <!-- <li>Tài sản bán đấu giá</li> -->
            </ul>
        </div>
        <div class="col social">
            <h1>Social</h1>
            <ul>
                <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
                <li><img src="https://svgshare.com/i/5eA.svg" width="32" style="width: 32px;"></li>
                <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script>
    window.onscroll = function() {
        myFunction()
    };

    var header = document.getElementById("header-home1");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("fixed-top");
        } else {
            header.classList.remove("fixed-top");
        }
    }
    $(document).ready(function() {


        var x = document.getElementById("snackbar");
        setTimeout(function() {
            x.style.display = 'none';
        }, 3500);
    });
    // $( document ).ready(function() {
    //     alert('asd');
    //     var x = document.getElementById("snackbar");
    //         setTimeout(function(){ x.style.display = 'none'; }, 30000);

    // });
</script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
 </script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
 </script>
</body>

</html>