<%- include('header',{ title: 'Gửi tiền'}); -%>
<div class="row">
    <div class="col-sm-12">
    
    <div class="bg_img" >
        <img class="responsive" src="../img/guitien.jpg" alt="">
    </div>
</div>
</div>

<div class="nd_cacthe">
    <div class="row tt_cacthe">
        <div class="col-sm-12 col-md-4 col-xs-12 ">
            <div class="img_the">
                <img class="responsive"
                    src="https://www.agribank.com.vn/wcm/connect/f27f9ea2-e3f1-4a85-b6e9-b98b6ca0e9b7/TienGui_mb.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-f27f9ea2-e3f1-4a85-b6e9-b98b6ca0e9b7-mW1OX5C"
                    alt="">
            </div>
        </div>
        <div class="nd_cacthe col-md-8 col-xs-12 ">
            <div class=" name_the">
                <h3>Tiền gửi</h3>
            </div>
            <div class="lead_the">
                <p>Đa dạng kỳ hạn gửi và hình thức lĩnh lãi cho khách hàng lựa chọn với thủ tục gửi tiền đơn giản
                </p>
               
            </div>
        </div>
    </div>
</div>

<div class="nd_cacthe">
    <div class="row tt_cacthe">
        <div class="col-sm-12 col-md-4 col-xs-12 ">
            <div class="img_the">
                <img class="responsive"
                    src="https://www.agribank.com.vn/wcm/connect/663a0a66-28cf-476f-9935-d3f5ec78fba9/TienGuiTietKiem_mb.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-663a0a66-28cf-476f-9935-d3f5ec78fba9-mW1WuKl"
                    alt="">
            </div>
        </div>
        <div class="nd_cacthe col-md-8 col-xs-12 ">
            <div class=" name_the">
                <h3>Tiền gửi tiết kiệm</h3>
            </div>
            <div class="lead_the">
                <p>Gửi tiền tiết kiệm tại Horsebank với lãi suất tiền gửi hấp dẫn</p>
               
            </div>
        </div>
    </div>
</div>

<%- include('footer'); -%>