<%- include('header',{ title: 'Trang chủ'}) -%>
    <div class="row" >
        <div class="col-sm-12" style="margin-bottom: 15px;">
            <ul class="nav nav-tabs" id="myTab" role="tablist" >
                <li class="nav-item" role="presentation">
                  <a class="nav-link active color-tab" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Khuyến mãi</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link color-tab" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tỷ giá</a>
                </li>
                    </ul>
              <div class="tab-content" id="myTabContent" >
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="img_the1">
                        <div class="responsive1">
                            <div class="gallery">
                                <a target="_blank" href="#">
                                    <img src="https://www.nhahangquangon.com/wp-content/uploads/2018/11/Eat-healthyBe-healthy-e1551945809668.jpg" alt="Cinque Terre" width="600" height="400">
                                </a>
                                <div class="desc">Ưu đãi Grabfood khi thanh toán thẻ horsebank</div>
                            </div>
                        </div>
                    </div>
                    <div class="img_the1">
                        <div class="responsive1">
                            <div class="gallery">
                                
                                <a target="_blank" href="#">
                                    <img src="https://cdn.shortpixel.ai/client/q_lqip,ret_wait/https://coin98.net/wp-content/uploads/2020/05/Moca-1013x570.png" alt="Cinque Terre" width="600" height="400">
                                </a>
                                <div class="desc">Kích hoạt thẻ moca bằng thẻ Horsebank</div>
                            </div>
                        </div>
                    </div>
                    <div class="img_the1">
                        <div class="responsive1">
                            <div class="gallery">
                                <a target="_blank" href="#">
                                    <img src="https://m.thebank.vn/uploads/2019/06/13/thebank_vimomo1min_1560393510.jpg" alt="Cinque Terre" width="600" height="400">
                                </a>
                                <div class="desc">Liên kết tài khoản Momo nhận ngay 300k</div>
                            </div>
                        </div>
                    </div>
                    <div class="img_the1">
                        <div class="responsive1">
                            <div class="gallery">
                                <a target="_blank" href="#">
                                    <img src="https://msmobile.com.vn/upload_images/images/2019/10/25/zalo-pay-la-gi-huong-dan-ve-zalopay-moi-nhat-msmobile-1.jpg" alt="Cinque Terre" width="600" height="400">
                                </a>
                                <div class="desc">Giảm 50% khi thanh toán Zalopay online</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" style="padding-top: 10px;">
                    <!--Currency Converter widget by FreeCurrencyRates.com -->

                    <div id='gcw_mainFQc85IOPK' class='gcw_mainFQc85IOPK'></div>
                    <a id='gcw_siteFQc85IOPK' href='https://freecurrencyrates.com/en/'>FreeCurrencyRates.com</a>
                    <script>function reloadFQc85IOPK(){ var sc = document.getElementById('scFQc85IOPK');if (sc) sc.parentNode.removeChild(sc);sc = document.createElement('script');sc.type = 'text/javascript';sc.charset = 'UTF-8';sc.async = true;sc.id='scFQc85IOPK';sc.src = 'https://freecurrencyrates.com/en/widget-table?iso=USD-EUR-GBP-RUB&df=2&p=FQc85IOPK&v=fi&source=fcr&width=1024&width_title=0&firstrowvalue=1&thm=A6C9E2,FCFDFD,4297D7,5C9CCC,FFFFFF,C5DBEC,FCFDFD,2E6E9E,000000&title=Currency%20Converter&tzo=-420';var div = document.getElementById('gcw_mainFQc85IOPK');div.parentNode.insertBefore(sc, div);} reloadFQc85IOPK(); </script>
                    <!-- put custom styles here: .gcw_mainFQc85IOPK{}, .gcw_headerFQc85IOPK{}, .gcw_ratesFQc85IOPK{}, .gcw_sourceFQc85IOPK{} -->
                    <!--End of Currency Converter widget by FreeCurrencyRates.com -->
                </div>
      
              </div>
            <!-- <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">For those about to rock...</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
  
    <%- include('footer'); -%>