<%- include('header-logged',{ title: 'Danh sách tài khoản tiết kiệm'}) -%>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3" style="background-color: #E2F0D8;box-shadow: 0px 0px 4px #86BF5C;">
            <h5 class="m-0" style="color: #28A745">Danh sách tài khoản tiết kiệm</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table style="box-shadow: 0px 2px 8px #86BF5C;" class="table-striped table  " width="100%" cellspacing="0">
        
                    <thead class="table-active" style="background-color: #A1CC7F; color:white">
        
                        <tr>
                            <th>Ngân hàng</th>
                            <th>Số tài khoản</th>
                            <th>Số dư</th>
                            <th>Tiền tệ</th>
                            <th>Trạng thái</th>
                            <th>Ngày mở</th>
                            <th>Ngày Đóng</th>
                            <th>Lãi xuất/năm</th>
                            <th>Kỳ hạn</th>
                            <th>Loại tài khoản</th>
                        </tr>
        
                    </thead>
                    <tbody>
        
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>




    <%- include('footer-logged'); -%>