<%- include('header',{ title: 'Gửi tiền'}); -%>
<div class="row">
    <div class="col-sm-12">
    
    <div class="bg_img" >
        <img class="responsive" src="../img/thanhtoan-chuyentien.jpg" alt="">
    </div>
</div>
</div>

<div class="nd_cacthe">
    <div class="row tt_cacthe">
        <div class="col-sm-12 col-md-4 col-xs-12 ">
            <div class="img_the">
                <img class="responsive"
                    src="https://www.agribank.com.vn/wcm/connect/f27f9ea2-e3f1-4a85-b6e9-b98b6ca0e9b7/TienGui_mb.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-f27f9ea2-e3f1-4a85-b6e9-b98b6ca0e9b7-mW1OX5C"
                    alt="">
            </div>
        </div>
        <div class="nd_cacthe col-md-8 col-xs-12 ">
            <div class=" name_the">
                <h3>Thanh toán trong nước</h3>
            </div>
            <div class="lead_the">
                <ul>
                    <li>Thủ tục đơn giản, thuận tiện, bảo mật, nhanh chóng, chính xác.</li>
                    <li>Khách hàng có thể chuyển tiền cho người thụ hưởng có/không có tài khoản tại Horsebank
                    </li>
                    <li>Không hạn chế số lần chuyển/nhận tiền / rút tiền trong ngày</li>
                    <li>Cho phép khách hàng rút tiền/nhận tiền ngay trong ngày</li>
                    <li>Tiết kiệm chi phí, thời gian và hạn chế rủi ro so với giao nhận tiền mặt</li>
                    <li>Mọi thông tin về tài khoản của khách hàng được bảo mật cao nhất</li>
                </ul>
                
            </div>
        </div>
    </div>
</div>

<div class="nd_cacthe">
    <div class="row tt_cacthe">
        <div class="col-sm-12 col-md-4 col-xs-12 ">
            <div class="img_the">
                <img class="responsive"
                    src="https://www.agribank.com.vn/wcm/connect/987a5b09-6822-45c3-822d-cd7501fa8762/KHDN_ThanhToanQuocTe_mb.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-987a5b09-6822-45c3-822d-cd7501fa8762-mT4xx9D"
                    alt="">
            </div>
        </div>
        <div class="nd_cacthe col-md-8 col-xs-12 ">
            <div class=" name_the">
                <h3>Thanh toán quốc tế</h3>
            </div>
            <div class="lead_the">
                <ul>
                    <li>Thủ tục thuận tiện, nhanh chóng</li>
                    <li>Các loại ngoại tệ đa dạng</li>
                    <li>Mạng lưới điểm giao dịch rộng khắp cả nước</li>
                </ul>
               
            </div>
        </div>
    </div>
</div>



<%- include('footer'); -%>