<%- include('header',{ title: 'Thẻ'}); -%>

   
    <div class="row">
        <div class="col-sm-12">
        
        <div class="bg_img" >
            <img class="responsive" src="../img/the.jpg" alt="">
        </div>
    </div>
    </div>
    <div class="nd_cacthe">
        <div class="row tt_cacthe">
            <div class="col-sm-12 col-md-4 col-xs-12 ">
                <div class="img_the">
                    <img class="responsive"
                        src="https://www.agribank.com.vn/wcm/connect/6fd965ff-7ac3-4144-9539-c80c5dd01a6c/ChoVayTinDungTieuDung_mb.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-6fd965ff-7ac3-4144-9539-c80c5dd01a6c-mW7PQl."
                        alt="">
                </div>
            </div>
            <div class="nd_cacthe col-sm-12 col-md-8 col-xs-12 ">
                <div class=" name_the">
                    <h3>Thẻ tín dụng quốc tế</h3>
                </div>
                <div class="lead_the">
                    <ul>
                        <li>Giao dịch tại hàng triệu điểm chấp nhận thẻ (ATM/POS) có logo
                            Horsebank/Visa/MasterCard/JCB trên toàn cầu</li>
                        <li>Thanh toán hàng hóa, dịch vụ trực tuyến với tiêu chuẩn bảo mật toàn cầu 3D-Secured bằng
                            bất kỳ loại tiền tệ nào</li>
                        <li>Quản lý chi tiêu hiệu quả, an toàn thông qua tin nhắn khi có giao dịch.</li>
                        <li>Được tham gia bảo hiểm dành cho chủ thẻ tín dụng quốc tế của Horsebank</li>
                    </ul>
                  
                </div>
            </div>
        </div>
    </div>

    <div class="nd_cacthe">
        <div class="row tt_cacthe">
            <div class="col-sm-12 col-md-4 col-xs-12 ">
                <div class="img_the">
                    <img class="responsive"
                        src="https://www.agribank.com.vn/wcm/connect/662cf789-e3ee-4f8a-b02f-1019c55e6934/ChoVayHanMucQuyMoNho_mb.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-662cf789-e3ee-4f8a-b02f-1019c55e6934-mX5KT5E"
                        alt="">
                </div>
            </div>
            <div class="nd_cacthe col-md-8 col-xs-12 ">
                <div class=" name_the">
                    <h3>Thẻ ghi nợ nội địa</h3>
                </div>
                <div class="lead_the">
                    <ul>
                        <li>Gửi tiền/Mở tài khoản Tiền gửi trực tuyến tiện lợi, linh hoạt tại ngay CDM.</li>
                        <li>Chuyển khoản liên ngân hàng tại ATM Horsebank và trên ứng dụng Horsebank E-Mobile Banking.
                        </li>
                        <li>Gia hạn thẻ, rút tiền bằng mã (Cash by Code), thanh toán hóa đơn tại ATM Horsebank.</li>
                        <li>Được tham gia bảo hiểm dành cho chủ thẻ ghi nợ nội địa của Horsebank</li>
                    </ul>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="nd_cacthe">
        <div class="row tt_cacthe">
            <div class="col-sm-12 col-md-4 col-xs-12 ">
                <div class="img_the">
                    <img class="responsive"
                        src="https://www.agribank.com.vn/wcm/connect/b349d143-77a7-4b5c-9899-0a112d86cb60/ChoVayLuuVu_mb.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-b349d143-77a7-4b5c-9899-0a112d86cb60-mX5KGEM"
                        alt="">
                </div>
            </div>
            <div class="nd_cacthe col-md-8 col-xs-12 ">
                <div class=" name_the">
                    <h3>Hướng dẫn sử dụng dịch vụ thanh toán trực tuyến</h3>
                </div>
                <div class="lead_the">
                    <p>Thanh toán trực tuyến (Giao dịch Internet) là dịch vụ do Horsebank cung cấp cho phép khách
                        hàng thanh toán hàng hóa/dịch vụ qua Internet bằng thẻ do Horsebank phát hành.</p>
                   
                </div>
            </div>
        </div>
    </div>

 
 
<%- include('footer'); -%>