<%- include('header',{ title: 'Vay vốn'}); -%>

    <div class="row">
        <div class="col-sm-12">
        
        <div class="bg_img" >
            <img class="responsive" src="../img/background_vayvon.jpg" alt="">
        </div>
    </div>
    </div>
    <div class="nd_cacthe">
        <div class="row tt_cacthe">
            <div class="col-sm-12 col-md-4 col-xs-12 ">
                <div class="img_the">
                    <img class="responsive"
                        src="https://www.agribank.com.vn/wcm/connect/6fd965ff-7ac3-4144-9539-c80c5dd01a6c/ChoVayTinDungTieuDung_mb.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-6fd965ff-7ac3-4144-9539-c80c5dd01a6c-mW7PQl."
                        alt="">
                </div>
            </div>
            <div class="nd_cacthe col-sm-12 col-md-8 col-xs-12 ">
                <div class=" name_the">
                    <h3>Cho vay tín dụng tiêu dùng</h3>
                </div>
                <div class="lead_the">
                    <ul>
                        <li>Người dân dễ dàng tiếp cận vay vốn tại hơn 2.300 điểm giao dịch của Horsebank</li>
                        <li>Đáp ứng những khoản vay vốn nhỏ, cấp bách, phục vụ nhu cầu đời sống</li>
                        <li>Thủ tục, hồ sơ vay vốn giải quyết nhanh gọn, giải ngân ngay trong ngày cho khách hàng cho hồ
                            sơ hợp lệ</li>
                    </ul>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="nd_cacthe">
        <div class="row tt_cacthe">
            <div class="col-sm-12 col-md-4 col-xs-12 ">
                <div class="img_the">
                    <img class="responsive"
                        src="https://www.agribank.com.vn/wcm/connect/662cf789-e3ee-4f8a-b02f-1019c55e6934/ChoVayHanMucQuyMoNho_mb.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-662cf789-e3ee-4f8a-b02f-1019c55e6934-mX5KT5E"
                        alt="">
                </div>
            </div>
            <div class="nd_cacthe col-md-8 col-xs-12 ">
                <div class=" name_the">
                    <h3>Cho vay hạn mức quy mô nhỏ</h3>
                </div>
                <div class="lead_the">
                    <ul>
                        <li>Đối tượng cho vay là khách hàng cá nhân, hộ gia đình có nhu cầu vay vốn để thanh toán các
                            chi phí
                            hoạt động kinh doanh, phục vụ nhu cầu đời sống,...</li>
                        <li>Thời gian nhận nợ linh hoạt phù hợp với nguồn trả nợ của khách hàng.</li>
                        <li>Phục vụ cho tất cả các khách hàng trên địa bàn thành thị, nông thôn...</li>
                    </ul>
                   
                </div>
            </div>
        </div>
    </div>

 

  

    <div class="nd_cacthe">
        <div class="row tt_cacthe">
            <div class="col-sm-12 col-md-4 col-xs-12 ">
                <div class="img_the">
                    <img class="responsive"
                        src="https://www.agribank.com.vn/wcm/connect/d6432847-70dd-4ee9-90a1-d7433b062ea8/ChoVayUuDaiLaiSuat_mb.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-d6432847-70dd-4ee9-90a1-d7433b062ea8-mX5LXsJ"
                        alt="">
                </div>
            </div>
            <div class="nd_cacthe col-md-8 col-xs-12 ">
                <div class=" name_the">
                    <h3>Cho vay ưu đãi lãi suất</h3>
                </div>
                <div class="lead_the">
                    <p>Hỗ trợ&nbsp;đầu tư phát triển sản xuất kinh doanh trên địa bàn 64 huyện nghèo</p>
                    
                </div>
            </div>
        </div>
    </div>

 
 

   

    <div class="nd_cacthe">
        <div class="row tt_cacthe">
            <div class="col-sm-12 col-md-4 col-xs-12 ">
                <div class="img_the">
                    <img class="responsive"
                        src="https://www.agribank.com.vn/wcm/connect/3792e218-6489-4190-889c-8c22f286be03/Cho-vay-ph%E1%BB%A5c-v%E1%BB%A5-nhu-c%E1%BA%A7u-%C4%91%E1%BB%9Di-s%E1%BB%91ngmb.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-3792e218-6489-4190-889c-8c22f286be03-mW8046s"
                        alt="">
                </div>
            </div>
            <div class="nd_cacthe col-md-8 col-xs-12 ">
                <div class=" name_the">
                    <h3>Cho vay phục vụ nhu cầu đời sống</h3>
                </div>
                <div class="lead_the">
                    <ul dir="ltr">
                        <li>Đáp ứng nhu cầu&nbsp;thanh toán các chi phí cho mục đích tiêu dùng, sinh hoạt của cá nhân,
                            gia đình.
                        </li>
                        <li>Khách hàng được sử dụng vượt số tiền có trên tài khoản tiền gửi thanh toán không kỳ hạn.
                        </li>
                    </ul>
                   
                </div>
            </div>
        </div>
    </div>

  

   


<%- include('footer'); -%>