<%- include('header',{ title: 'Xác thực tài khoản'}); -%>
    <div class="row" id="row_input">

        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">

            <div class="card" id="card_login">
                <div class="card-body">
                    <center>
                        <h2 style="color:#72B441">Xác thực tài khoản</h2>
                    </center>
                    <hr />
                    <% if (errors!=null) { %>

                        <div class="alert alert-danger fade show" role="alert" id="snackbar">
                            <%=errors%>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <%} else { %>

                            <% } %>
                                <div class="d-flex flex-column text-center">
                                    <form method="POST" >
                                        <div class="form-group" style="margin-bottom: 20px; ;-webkit-box-shadow: 0 8px 6px -6px #93C66E;-moz-box-shadow: 0 8px 6px -6px #93C66E;box-shadow: 0 8px 6px -6px #93C66E; text-align: left;">
                                            <input type="text" class="form-control" id="displayname" name="displayname" disabled placeholder="<%= currentUser ? currentUser.displayname : 'Khách hàng' %>">
                                        </div>
                                        <div class="form-group" style="margin-bottom: 20px; ;-webkit-box-shadow: 0 8px 6px -6px #93C66E;-moz-box-shadow: 0 8px 6px -6px #93C66E;box-shadow: 0 8px 6px -6px #93C66E; text-align: left;">
                                            <select name="typepaper" id="typepaper" class="form-control">
                                                <option value="CMND">CMND</option>
                                                <option value="CCCD">CCCD</option>
                                                <option value="HC">HC</option>
                                             </select>
                                        </div>
                                        <div class="form-group" style="margin-bottom: 20px; ;-webkit-box-shadow: 0 8px 6px -6px #93C66E;-moz-box-shadow: 0 8px 6px -6px #93C66E;box-shadow: 0 8px 6px -6px #93C66E; text-align: left;">
                                            <input type="text" class="form-control" id="papers" name="papers" placeholder="Số giấy tờ">
                                        </div>
                                        <!-- <div class="form-group" style="margin-bottom: 20px; ;-webkit-box-shadow: 0 8px 6px -6px #93C66E;-moz-box-shadow: 0 8px 6px -6px #93C66E;box-shadow: 0 8px 6px -6px #93C66E; text-align: left;">
                                            <input type="file" id="avatar" name="avatar">
                                        </div> -->
                                        <div class="btn_boxshadow btn-round">
                                            <input type="submit" class="btn btn-block btn-round" value="Send">
                                        </div>
                                    </form>
                                </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    </div>

    <%- include('footer'); -%>